body {
    font-family: 'Carme', sans-serif;
    text-align: center;
    font-size: 14px;
}

header {
    background: #E6EFFF;
    text-shadow: 0 0 5px #FF00FF;
    font-size: 24px;
    height: 50px;       
}

.title {
    padding: 10px;
}

.main {
    padding: 10px;
    margin: 20px;
    line-height: 24px;    
}

.quantity, .choose {
    padding: 10px;
    margin: 10px
}

.quantity__input, .choose__menu {
    border: solid 1px #FF9CFF;
    background: #E6EFFF;
    width: 120px;
}

.submit {
    padding: 20px; 
}

.submit__button {
    background: #000;
    color: #E6EFFF;
    padding: 10px; 
    border: solid 1 #000;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #E6EFFF;
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 26px;
    }

    .title, .submit__button, .total__text {
        font-size: 36px;
    }

    .options {
        position: relative;
        padding: 20px;
        
    }

    .quantity {
        float: left;
        position: relative;
        left: 700px;
    }

    .choose {
        
    }

    .choose__menu, .quantity__input {
        padding: 10px;
        width: 200px;
        margin: 20px;
        font-size: 26px;
    }

    .
}